<div style="text-align: center;">
<font style="font-size: 65px; color: darkblue;"> Welcome! </font>
<br>
<font style="font-size: 50px; color: darkblue;"> Titanic - Machine Learning from Disaster </font>
</div>

******
This project was developed by:

* Afonso Coelho ([Bugss05](https://github.com/Bugss05)) - FCUP_IACD: 202305085
* Diogo Amaral ([damaral31](https://github.com/damaral31)) - FCUP_IACD: 202305187
* Miguel Carvalho ([miguel-c05](https://github.com/miguel-c05)) - FCUP_IACD: 202305229



Table of contents  
blablalallalvlv



## <font style="font-size: 45px; color: darkblue;"> 1 Introduction </font>

### <font style="font-size: 25px; color: blue;"> 1.1 Problem context </font>

&nbsp;&nbsp; This notebook serves as the workspace for the Kaggle competition ["Titanic - Machine Learning from Disaster"](https://www.kaggle.com/competitions/titanic), a Machine Learning exercise best suited for beginners, especially those new to the  [kaggle](<https://www.kaggle.com>) platform.
<br>
&nbsp;&nbsp; The aim of the competition at hand is to ``study a Database of passengers aboard the Titanic`` and train a ``Machine Learning model`` on any relevant information extracted in order to be able to predict whether a passenger is likely to survive the ship's wreck or not. All of this with the maximum accuracy possible, of course.

<div>
    <div style="width: 50%;float: left ">

### <font style="font-size: 25px; color: blue;"> 1.2 Expectations </font>
&nbsp;&nbsp; On a first inspection of the facts, ``women and children will most likely have a higher chance of survival``, simply because they were groups of people prioritized for evacuation and rescue. Some cabins may also see a survivability increase solely due to its geographical location on the ship as seen on the following image (Img 1).

## <font style="font-size: 45px; color: darkblue;"> 2 The Data </font>
 &nbsp;&nbsp;In order to train the model a large enough amount of information is needed. As such, Kaggle gives the participants of this competition a dataset (``train.csv``) on which to work, regarding passenger's`` names, age, sex and nÂº of siblings, among others``. <br>
 
 It also contains, however, ``missing values as well as outliers``, both of which harm data analysis and model training. Later, we will explain how such cases were handled.
 
### <font style="font-size: 25px; color: blue;"> 2.1 Data Sample </font>
This dataset has roughly ``900 passengers and 10 features and 1 output class``.
*  ``survived`` - 1 if lived 0 if not (output class)
* ``Name`` - Name 
* ``pclass`` - ticket class 1-1st, 2-2nd, 3-3rd
* ``sex`` - Male or female
* ``Age ``- Age in years 
* ``sibsp`` - # of siblings / spouses aboard the Titanic	
* ``parch`` - # of parents / children aboard the Titanic	
* ``ticket``- Ticket number 
* ``fare``- Passenger fare
* ``cabin``- Cabin Number
* ``embarqued`` - Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

If interested in how the raw data was offered run the next code to visualize it. 
</div>

<div style="width: 35%; float: left; padding-left: 10%;padding-top: 7%">
    <figure style="float: left; height: 100%; width: 100%;">
          <img src="Titanic_cutaway_diagram.png" style="height: 600px; width: 100%;">
          <figcaption style="text-align: center;">Img 1: Titanic cutaway diagram. Normaly the lower classes passagers were placed lower in the ship </figcaption>
        </figure>
</div>
</div>

In [66]:
import pandas as pd
import numpy as np

data= pd.read_csv('train.csv')
display(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### <font style="font-size: 25px; color: blue;">2.2 added\excluded features  </font>
&nbsp;&nbsp;We took in consideration some aspects such as ``missing values and relevance`` for the output class.<br>

>&nbsp;&nbsp;At first glance, the ``"name" feature`` seems pretty useless however, the ``last name`` can connect families since they are most likely to stay together in the ships wreck.<br>

>&nbsp;&nbsp;The same case applies to the ``"ticket" atribute`` since there's no specific explanation on what the numbers and letters represents, yet the same ticket can too relate to the same family or some friends that stayed on the same cabin. We will also seperate the strings and numbers into new columns ("Ticket Class", "Ticket Number")

>&nbsp;&nbsp; We also decided to remove any feature with ``>50% of missing values ``.

>&nbsp;&nbsp; As this event a large amount of passengers died, therefore we though that the missing value for a passenger can be related for them to survive so for any atribute that`` has missing values we added a binary column such that is 0 if the value is not missing and 1 if the value is missing.``.   
         
### <font style="font-size: 25px; color: blue;">2.3 Missing values </font>
#### <font style="font-size: 20px; color: lightblue;">2.3.1 Missing values info</font>
Heres some plot of each percentage of missing values

In [67]:
import pandas as pd
import numpy as np

def missing_values(df: pd.DataFrame) -> pd.DataFrame:
    """
    por cada coluna do dataset deve ser calculado o nr de missing values a percentagem de missing values.
    este deve ser o formato de do novo ficheiro csv:

    |  Column  | Missing Values |  Percentage |
    |----------|----------------|-------------|
    | Column 1 |       0        |      0      |
    | Column 2 |       2        |     0.2     |
    |   ...    |      ...       |     ...     |

    
    """
    lista_valores_percentagem = []
    for col in df.columns:
        lista_valores_percentagem.append([col, df[col].isnull().sum(), df[col].isnull().sum() / len(df[col])])
    df_missing_values = pd.DataFrame(lista_valores_percentagem, columns=['Column', 'Missing Values', 'Percentage'])
    return df_missing_values
    
data = pd.DataFrame(pd.read_csv('train.csv'))
print("Missing values train: ")
display(missing_values(data))
data = pd.DataFrame(pd.read_csv('test.csv'))
missing_values(data)
print("Missing values test: ")
display(missing_values(data))

Missing values train:

         Column  Missing Values  Percentage
0   PassengerId               0    0.000000
1      Survived               0    0.000000
2        Pclass               0    0.000000
3          Name               0    0.000000
4           Sex               0    0.000000
5           Age             177    0.198653
6         SibSp               0    0.000000
7         Parch               0    0.000000
8        Ticket               0    0.000000
9          Fare               0    0.000000
10        Cabin             687    0.771044
11     Embarked               2    0.002245

Missing values test:

         Column  Missing Values  Percentage
0   PassengerId               0    0.000000
1        Pclass               0    0.000000
2          Name               0    0.000000
3           Sex               0    0.000000
4           Age              86    0.205742
5         SibSp               0    0.000000
6         Parch               0    0.000000
7        Ticket               0    0.000000
8          Fare               1    0.002392
9         Cabin             327    0.782297
10     Embarked               0    0.000000

So in conclusion we pretend to eliminate the ``cabin`` feature and fill the ``Age`` one 

#### <font style="font-size: 20px; color: lightblue;">2.3.2 Correlation bettewen missing values</font>

In [68]:
def missing_values_for_output(df: pd.DataFrame ) -> pd.DataFrame:
    """
    The objective of this func is to determinate if the missing values have any impact on the survival rate of the passengers.
    This function should return a DataFrame with the following structure:

    |  Column  | Survived_filled | Died_filled | Missing Values | Survived_filled (%) | Died_Filled (%) | Missing Values (%) | Survived_missing | Died_missing | Survived_missing (%) | Died_missing (%) |
    |----------|-----------------|-------------|----------------|---------------------|-----------------|--------------------|------------------|--------------|----------------------|------------------|
    | Column 1 |        0        |      0      |        0       |           0         |        0        |          0         |         0        |       0      |          0           |         0        | 
    | Column 2 |        0        |      0      |        0       |           0         |        0        |          0         |         0        |       0      |          0           |         0        | 

    """
    lista_valores_percentagem = []
    for col in df.columns:
        if df[col].isnull().sum() > 0:

            missing_values = df[col].isnull().sum()
            missing_values_percentage = missing_values / len(df[col])

            survived_filled = df.loc[(df['Survived'] == 1) & (~df[col].isnull())].shape[0]
            survived_percentage = survived_filled / (len(df[col])-missing_values)

            died_filled =  df.loc[(df['Survived'] == 0) & (~df[col].isnull())].shape[0]
            died_percentage = died_filled / (len(df[col])-missing_values)
            
            survived_missing = df.loc[(df['Survived'] == 1) & (df[col].isnull())].shape[0]
            survived_missing_percentage = survived_missing / missing_values

            died_missing = df.loc[(df['Survived'] == 0) & (df[col].isnull())].shape[0]
            died_missing_percentage = died_missing / missing_values
            
            lista_valores_percentagem.append([
                col, survived_filled, died_filled, missing_values, 
                survived_percentage, died_percentage, missing_values_percentage, 
                survived_missing, died_missing, survived_missing_percentage, died_missing_percentage
            ])
    df_missing_values = pd.DataFrame(
        lista_valores_percentagem, 
        columns=[
            'Column', 'Survived_filled', 'Died_filled', 'Missing Values', 
            'Survived_filled (%)', 'Died_Filled (%)', 'Missing Values (%)', 'Survived_missing', 'Died_missing',
            'Survived_missing (%)', 'Died_missing (%)' 
        ]
    )
    return df_missing_values

data = pd.DataFrame(pd.read_csv('train.csv'))
display(missing_values_for_output(data))

,Column,Survived_filled,Died_filled,Missing Values,Survived_filled (%),Died_Filled (%),Missing Values (%),Survived_missing,Died_missing,Survived_missing (%),Died_missing (%)
0,Age,290,424,177,0.406162,0.593838,0.198653,52,125,0.293785,0.706215
1,Cabin,136,68,687,0.666667,0.333333,0.771044,206,481,0.299854,0.700146
2,Embarked,340,549,2,0.382452,0.617548,0.002245,2,0,1.000000,0.000000

After analysis we can infer that the missing values have a somewhat impact on the survival rate of the passengers, therefore its reasonable to `` add a binary column with the missing values ``

### <font style="font-size: 25px; color: blue;">2.4 Filling/replace values</font>

#### <font style="font-size: 20px; color: lightblue;">2.4.1 Replace Name </font>
As said before we will only retrive the last name of the passenger. 
## REVER : For effeciency, the names will be replaced with ``ASCII representation``.

In [69]:
def turn_name_col_into_ASCII(df: pd.DataFrame, column:str ) -> None:
    """
    the objective of the func is to retrieve the last name of the passengers then convert the name column to ASCII format.
    """

    df[column] = df[column].apply(lambda x: x.split(',')[0])# select the last name of the passenger
    """df[column] = df[column].apply(lambda x: ''.join(str(ord(c)) for c in x))# convert the name to ASCII format"""
    return df

data = pd.DataFrame(pd.read_csv('train.csv'))
data.drop(columns=['PassengerId'], inplace=True)
turn_name_col_into_ASCII(data, 'Name')
display(data)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,Braund,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,Cumings,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,Heikkinen,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,Futrelle,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,Allen,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,Montvila,male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,Graham,female,19.0,0,0,112053,30.0000,B42,S
888,0,3,Johnston,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,Behr,male,26.0,0,0,111369,30.0000,C148,C
890,0,3,Dooley,male,32.0,0,0,370376,7.7500,NaN,Q

#### <font style="font-size: 20px; color: lightblue;">2.4.2 Add a binary column </font>

In [70]:
def criar_coluna_missing_values (df: pd.DataFrame, coluna:str) -> None:#FunÃ§Ã£o que cria uma coluna binaria com missing values.
    """
    dado uma coluna do dataset deve criar uma nova coluna binaria que tem 1 se o valor da coluna original for missing e 0 caso contrario.
    A coluna deve ser criada na coluna seguinte Ã  coluna original.
    """
    missing = ( df[coluna].isnull()).astype(int)
    newColName = 'Missing ' + coluna
    numero_coluna = df.columns.get_loc(coluna)
    df.insert(numero_coluna + 1, newColName, missing)

    return None

criar_coluna_missing_values(data, 'Age')
criar_coluna_missing_values(data, 'Cabin')
data.drop(columns=['Cabin'], inplace=True)
display(data)

,Survived,Pclass,Name,Sex,Age,Missing Age,SibSp,Parch,Ticket,Fare,Missing Cabin,Embarked
0,0,3,Braund,male,22.0,0,1,0,A/5 21171,7.2500,1,S
1,1,1,Cumings,female,38.0,0,1,0,PC 17599,71.2833,0,C
2,1,3,Heikkinen,female,26.0,0,0,0,STON/O2. 3101282,7.9250,1,S
3,1,1,Futrelle,female,35.0,0,1,0,113803,53.1000,0,S
4,0,3,Allen,male,35.0,0,0,0,373450,8.0500,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,Montvila,male,27.0,0,0,0,211536,13.0000,1,S
887,1,1,Graham,female,19.0,0,0,0,112053,30.0000,0,S
888,0,3,Johnston,female,NaN,1,1,2,W./C. 6607,23.4500,1,S
889,1,1,Behr,male,26.0,0,0,0,111369,30.0000,0,C
890,0,3,Dooley,male,32.0,0,0,0,370376,7.7500,1,Q

#### <font style="font-size: 20px; color: lightblue;">2.4.3 Add class columns for the ticket atribute  </font>

In [71]:
def extra_col_ticket(df: pd.DataFrame) -> None:
    """
    The objective of this function is from the "Ticket" atribute create 2 new columns with the first one the word of the tiket.
    the second column is the number of the ticket.
    if the ticket is only a number the first column should be filled with "N" and the second column with the number.  
    """
    df['Ticket'] = df['Ticket'].apply(lambda x: x.split(' '))
    df['Ticket Class'] = df['Ticket'].apply(lambda x: x[0] if len(x) > 1 else 'N')
    df['Ticket Number'] = df['Ticket'].apply(lambda x: x[1] if len(x) > 1 else x[0])
    """turn_name_col_into_ASCII(df, 'Ticket Class')"""
    return None


extra_col_ticket(data)
data.drop(columns=['Ticket'], inplace=True)
display(data)

,Survived,Pclass,Name,Sex,Age,Missing Age,SibSp,Parch,Fare,Missing Cabin,Embarked,Ticket Class,Ticket Number
0,0,3,Braund,male,22.0,0,1,0,7.2500,1,S,A/5,21171
1,1,1,Cumings,female,38.0,0,1,0,71.2833,0,C,PC,17599
2,1,3,Heikkinen,female,26.0,0,0,0,7.9250,1,S,STON/O2.,3101282
3,1,1,Futrelle,female,35.0,0,1,0,53.1000,0,S,N,113803
4,0,3,Allen,male,35.0,0,0,0,8.0500,1,S,N,373450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,Montvila,male,27.0,0,0,0,13.0000,1,S,N,211536
887,1,1,Graham,female,19.0,0,0,0,30.0000,0,S,N,112053
888,0,3,Johnston,female,NaN,1,1,2,23.4500,1,S,W./C.,6607
889,1,1,Behr,male,26.0,0,0,0,30.0000,0,C,N,111369
890,0,3,Dooley,male,32.0,0,0,0,7.7500,1,Q,N,370376

#### <font style="font-size: 20px; color: lightblue;">2.4.4 Filling Missing values HVDM </font>

To effectively handle missing values, multiple methods were researched according top the well-known paper ["Improved Heterogeneous Distance Functions", D. Randall Wilson, Tony R. Martinez](https://www.jair.org/index.php/jair/article/view/10182/24168). As such, Heterogeneous  Value  Difference  Metric (HVDM) was chosen, not only because of its efficiency, but also due to its easy implementation. This algorithm can be summarized by the following expressions:

$$
HVDM(x, y) = \sqrt{\sum_{a=1}^{m} d_a^2 (x_a, y_a)}
$$

<br>

$$
d_a(x, y) = 
\begin{cases} 
1, & \text{if } x \text{ or } y \text{ is unknown}; \text{ otherwise...} \\ 
normalizedVdm_a(x, y), & \text{if } a \text{ is nominal} \\ 
normalizedDiff_a(x, y), & \text{if } a \text{ is linear}
\end{cases}
$$

<br>

$$
normalizedDiff_a(x, y) = \frac{|x - y|}{4\sigma_a}
$$

<br>

$$
normalizedVdm_{a}(x,y) = \sqrt{\sum_{c=1}^{C} \left| \frac{N_{a,x,c}}{N_{a,x}} - \frac{N_{a,y,c}}{N_{a,y}} \right|^2}
$$


<br>

where:
* $x$ and $y$ are passengers;
* $m$ is the nÂº of attributes of a passenger;
* $a$ is an attribute;
* $\sigma$ is the standard deviation
* $c$ is the output class
* $C$ is the nÂº of output classes

<br>

So, in laymen's terms, HVDM finds the distance between two passengers by comparing the difference of each attribute and adding them. It is similar to the HEOM algorithm, differing mainly in that HVDM normalizes its values before comparing them.
<br><br>
Finally, having the distances between all passengers, a missing value in a said attribute will be filled by searching the "closest" $K$ , $K \in \mathbb{N}$ passengers and calculating their average, similarly to the KNN algorithm.


Here is it's implementation. The file [HVDM.py](HVDM.py) contains all the implementation as well   <font style="font-size: 60px; color: lightblue;">ATUALIZAR QND ACABADO  </font>

In [ ]:
import pandas as pd
import numpy as np
import math
import statistics

class HVDM:
    def __init__(self, df: pd.DataFrame, objetivo:pd.DataFrame):
        self.df = df
        self.objetivo = objetivo

    def HVDM(self , x: int , y: int ) -> float:# calcula a distancia entre dois passageiros
        """
        Calcula a distancia entre dois passageiros.
        Deve fazer um loop em cada atributo do dataset e calcular a distancia entre os dois passageiros dessa coluna e depois somar tudo.
        """
        contador = 0
        for i in self.df.columns:
            contador += (self.distancias(x, y, i))** 2
        return round( math.sqrt(contador), 2)# arredondar para 1 casas decimal
        
    def distancias( self , x: int , y: int , coluna: int ) -> float: # calcula a distancia entre dois passageiros de uma coluna
        """
        Calcula a distancia entre dois valores de uma coluna.
        se x e y forem desconhecidos retorna 1.
        Se a coluna for numerica retorna a funÃ§Ã£o normalized_diff.
        Se a coluna for categorica retorna a funÃ§Ã£o normalized_vdm.
        """
        if self.df.iloc[x , coluna] == None or self.df.iloc[y , coluna] == None:
            return 1        
        if self.df.iloc[: , coluna] == 'Age' or self.df.iloc[: , coluna] == 'Fare': # SUJEITO A MUDANÃA
            return self.normalized_diff(x, y)
        return self.normalized_vdm(x, y, coluna)
    
    def normalized_vdm(self , x: int , y: int, coluna: int ) -> float:# segundo caso do HVDM e ambas tÃªm de ser categoricas
        """
        fazer o calculo do VDM normalizado dado no papel que vimos.
        todos os valores vao ser calculados e guardados numa lista pela funÃ§Ã£o comp_pacientes_pela_coluna.
        para poupar tempo o resultado desta funÃ§ao Ã© sempre 0 quando x=y E O RESULTADO DE X=Y.
        """
        return 
    
    def normalized_diff(self , x: int , y: int ) -> float:# terceio caso do HVDM e ambas tÃªm de ser numericas/continuas
        """
        Calcula a diferenÃ§a normalizada entre dois valores.
        Ela Ã© dada no papel que vimos.<
        Ã simples de implementar.
        Esta funÃ§Ã£o Ã© chamada dentro da funÃ§Ã£o hvdm.
        O valor do std (standard deviation) Ã© assumido ja calculado pela funÃ§Ã£o standard_deviation e os seus valores estÃ£o armazenados na linha 2 do dataset.
        """
        return    
    
    def comp_pacientes_pela_coluna(self , x: int , y: int , coluna: int ) -> list:#calculo dos acontecimentos de Na,x Na,y Na,x,0 Na,y,0 Na,x,1 Na,y,1
        """
        primeiro deve contar quantas vezes o valor x, y aparece na coluna e depois contar as vezes que x, y aparece na coluna e tem o mesmo resultado, para ambos os resultados (vive ou morre). 
        Guardar os valores numa lista e retornar a lista.
        estrutura da lista: [Na,x, Na,y, Na,x,0 Na,y,0 Na,x,1 Na,y,1]
        tentar fazer num unico loop.
        Esta funÃ§ao Ã© chamada para todos os segundos casos do HVDM uma vez e Ã© complementar a normalized_vdm.
        """
        Valores = [0, 0, 0, 0, 0, 0]# [Na,x, Na,y, Na,x,0 Na,y,0 Na,x,1 Na,y,1]
        x_v = self.df.iloc[x , coluna]
        y_v = self.df.iloc[y , coluna]

        for i in range(len(self.df)):
            paciente = self.df.iloc[i , coluna]
            if paciente == x_v:
                Valores[0] += 1
                if self.objetivo.iloc[i,0] == 0:
                    Valores[2] += 1
                else:
                    Valores[4] += 1
            if paciente == y_v:# Ã importante que seja IF e nÃ£o ELIF porque mesmo que x=y existe o caso em que x_c != y_c 
                Valores[1] += 1 
                if  self.objetivo.iloc[i,0] == 0:
                    Valores[3] += 1
                else:
                    Valores[5] += 1
        return Valores

    def standard_deviation (self) -> None: # calcula o desvio padrÃ£o do dataframe
        """
        Calcula o desvio padrÃ£o de um dataset.
        Pode-se utilizar a funÃ§Ã£o statistics.stdev() da biblioteca statistics ou so numpy.std() (mais eficiente de perferencia ).
        deve se criar uma linha no dataset e depois armazenar o valor do desvio padrÃ£o de cada coluna nessa linha se a coluna for numerica.
        todas as colunas que nao forem numericas so assume se que o std Ã© 0.
        esta funÃ§ao Ã© complementar e sÃ³ Ã© chamada 1 vez. 
        """
        for i in self.df.columns:
            if i == "Age" or i == "Fare":# SUJEITO A MUDANÃA
                self.df.loc[1, i] = np.std(self.df[i])
            else:
                self.df.loc[1, i] = 0
        return None